doctype html
html
    head
        title Person
    body
        h3(style="color:orange") #{message}
        //else if (type = "password_missmatch")
        //    h3(style="color:orange") #{message}
        //else if (type = "error")
        //    h3(style="color:red") #{message} and the error is: #{err}
        //else if (type = "success")
        //    h3(style="color:green") New person, name: #{person.name}, age: #{person.age} added!
        //else
        //    h3(style="color:black") Your request is being processed.
        //
